// ヘッダー
.header{
    background-color: paleturquoise;
    font-size: 1rem;
    height: 48px;
    position: relative;
    border-bottom-style:double;
    border-bottom-width:1px;
    display: flex;
    align-items: center;
    &__nav{
        display: flex;
        width: 100%;
    }
}

.flex-container{
    display: flex;
}

.side-bar{
    background-color: darkcyan;
    color: ghostwhite;
    height: calc(100vh - 48px);
    padding: 0.5rem;
    top: 48px;
    &__category{
        padding-bottom: 1rem;
        &__label{
            font-size: 1.5rem;
            display: inline-block;
            padding-bottom: 0.5rem;
        }
        &__list{
            padding-left: 1rem;
            &__item{
                display: block;
                padding: 0.25rem;
            }
        }
    }
}

// 横並びのリスト
.horizontal-list{
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    &__item{
        display: inline-block;
        padding-right: 8px;
    }
    &--left{
        padding-left: 16px;
    }
    &--right{
        text-align: right;
        padding-right: 16px;
    }
}

.login-form-box{
    justify-content: center;
    padding-top: 15vh;
    width:380px;
    &__header{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-color: powderblue;
        padding: 1rem;
        text-align: center;
    }
    &__content{
        background-color: azure;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    &__footer{
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: powderblue;
        padding: 1rem;
        text-align: center;
    }
}

//ラッパー
.login-wrapper{
    display: flex;
    justify-content: center;
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form-input{
    background-color: ghostwhite;
    border-style: ridge;
    border-radius: 0.25rem;
    border-width: 1px;
    display: block;
    width: 100%;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-top: 4px;
}

.form-label{
    padding-bottom: 4px;
}

.form{
    &__group{
        padding-bottom: 24px;
    }
}

.button{
    border-radius: 0.25rem;
    color: ghostwhite;
    display: inline-block;
    text-align: center;
    padding: 0.375rem 0.75rem;
    background-color: #0099ff;
}

.contents-wrapper{
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.contents{

    &__title{
        display: inline-block;
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 1.25rem;
    }
    &__content{
        padding-top: 2rem;
        padding-left: 2rem;
        &__actions{
            padding-bottom: 1rem;
        }
    }
}

.list-table{
    border-collapse: collapse;
    border-spacing: 0;
    &__head{
        background-color: aliceblue;
        border-style: double;
        border-bottom-width: 4px;
        >tr > th{
            padding:1rem;
        }
    }
    &__body{
        border-style: double;
        border-bottom-width: 4px;
        >tr {
            border-style: ridge;
            border-bottom-width: 4px;
            >td{
                vertical-align: middle;
                padding: 1rem;
            }
        }
    }
}
